<section class="universal-content-padding">
    <div class="form-group has-feedback icon-left">
        <i class="glyphicon glyphicon-search form-control-feedback"></i>
        <input type="text" class="form-control" ng-model-options="{debounce: { 'default': 500}}" ng-model="searchParams.searchText" ng-change="search(1)" />
    </div>

	
	<span class="btn btn-success" ng-click="addFilter()">Filter Results</span>

    <span class="btn btn-info" ng-click="viewSelectedBibs()">View selected bibs</span>

    <span class="btn btn-primary ">+ Add to bib list</span>

	<div class="space-above" ng-if="error.errorPresent"> {{error.errorMessage}} </div>

	<form class="row space-above" role="form">
		<div ng-repeat="bib in searchedBibs">
        	<div class="col-md-12 nopadding">
        	
	        	
				<!--  Here empty label and id is necessary due to the quirks of "awesome-bootstrap-checkbox" -->
	        	<div class="checkbox checkbox-info col-md-1 nopadding">
	        	    <input type="checkbox" id="bib-{{bib.id}}" ng-click="addBibToSelected(bib)" ng-model="bib.isSelected">
	        	    <label for="bib-{{bib.id}}"></label>
	        	</div>

	        	<div class="col-md-10 nopadding">
	        		<span ng-if="!!bib.title"><strong>Title:</strong> {{bib.title}}</span>
	        		<br>
	        		<span ng-if="!!bib.author"><strong>Author:</strong> {{bib.author}}</span>
	        		<br>
	        		<span ng-if="!!bib.year"><strong>Year:</strong> {{bib.year}}</span>
	        		<br>
	        		<span class="btn btn-success" ng-click="viewAbstract(bib)">View Abstract</span>
				    <span class="btn btn-info" ng-click="viewFullDetails(bib)">View Full Details</span>
	        		<a class="btn btn-primary" ng-if="bib.doi !== ''" ng-href="http://dx.doi.org/{{bib.doi}}" target="_blank">Open paper</a>
	        		<span class="btn btn-custom-alt">Biblist(s) this bib is present in</span>
	        	</div>
	        	<div class="col-md-1 edit-icon-for-bib">
	        		<i class="glyphicon glyphicon-edit" ng-click="editBib(bib)"></i>
	        	</div> 
        	</div>
	        <div class="col-md-12 nopadding">
	        	<hr>
	        </div>
				
        </div>

    </form>

	<div class="row space-above" ng-show="searchedBibs.length !== 0">
		<div class="col-md-12 nopadding">
			<div class="col-md-4">
				Page {{pagination.currentPage}} of {{pagination.totalPages}}
			</div>
			
			<div class="col-md-8">
				
				<ul uib-pagination items-per-page="pagination.itemsPerPage" max-size="10" total-items="pagination.totalItems" ng-model="pagination.currentPage" ng-change="search(pagination.currentPage)"></ul>

			</div>
		</div>
	</div>
    


</section>
