select[name="bib-type-select"] {
	width:initial;
}

.space-btw-nav-content{
	margin-top:5%;
}


.form-horizontal .form-group.reset-margin-left {
	margin-left:0;
}

.form-horizontal .form-group .bring-btn-up {
	margin-bottom: 35px;
}

[ui-view].ng-enter.add-upload-bib {
	transition:all 0.5s ease-in-out;
	opacity: 0;
}

[ui-view].ng-enter-active.add-upload-bib {
 	opacity: 1;
}

.sub-view.ng-enter {
	transition:all 0.5s ease-in-out;
 	opacity: 0;
}

.sub-view.ng-enter-active {
 	opacity: 1;

}