.side-menu {
	margin-top: 50px;
}

.side-body {
	margin-top: 50px;
}

[ui-view].ng-enter.main-parent {
  transition:all 0.5s ease-in-out;
  opacity: 0;
  transform:scale3d(0, 0, 0);
}

[ui-view].ng-enter-active.main-parent {
  opacity: 1;
  transform:scale3d(1, 1, 1);
}

.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}