.icon-left i {
	left: 0;
}

.icon-left input {
	padding-left: 42.5px;
}

.edit-icon-for-bib {
	text-align: right;
}

.edit-icon-for-bib i,  {
	cursor: pointer;
}

.well.biblist-well {
	min-height: 320px;
}

.biblist-well .biblist-well-title {
	text-align: center;
}