<div class="row">
    <div class="form-group col-sm-6 col-md-6 col-xs-6">
        <label for="bib-author" class="col-sm-2 col-md-2 col-xs-2 control-label">Author</label>
        <div class="col-sm-8 col-md-8 col-xs-8">
            <input type="text" class="form-control" id="bib-author" placeholder="Type:" ng-model="bib.bibFields.payload.author">
        </div>
    </div>
    <div class="form-group col-sm-6 col-md-6 col-xs-6">
        <label for="bib-howpublished" class="col-sm-2 col-md-2 col-xs-2 control-label">HowPublished</label>
        <div class="col-sm-8 col-md-8 col-xs-8">
            <input type="text" class="form-control" id="bib-howpublished" placeholder="How Published" ng-model="bib.bibFields.payload.howpublished">
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-6 col-md-6 col-xs-6">
        <label for="bib-year" class="col-sm-2 col-md-2 col-xs-2 control-label">Year</label>
        <div class="col-sm-8 col-md-8 col-xs-8">
            <input type="text" class="form-control" id="bib-year" placeholder="Year" ng-model="bib.bibFields.payload.year">
        </div>
    </div>
    <div class="form-group col-sm-6 col-md-6 col-xs-6">
        <label for="bib-title" class="col-sm-2 col-md-2 col-xs-2 control-label">Title</label>
        <div class="col-sm-8 col-md-8 col-xs-8">
            <input type="text" class="form-control" id="bib-year" placeholder="Title" ng-model="bib.bibFields.payload.title">
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-6 col-md-6 col-xs-6">
        <label for="bib-month" class="col-sm-2 col-md-2 col-xs-2 control-label">Month</label>
        <div class="col-sm-8 col-md-8 col-xs-8">
            <input type="text" class="form-control" id="bib-month" placeholder="Month" ng-model="bib.bibFields.payload.month">
        </div>
    </div>
    <div class="form-group col-sm-6 col-md-6 col-xs-6">
        <label for="bib-note" class="col-sm-2 col-md-2 col-xs-2 control-label">Note</label>
        <div class="col-sm-8 col-md-8 col-xs-8">
            <input type="text" class="form-control" id="bib-note" placeholder="Note" ng-model="bib.bibFields.payload.note">
        </div>
    </div>
</div>