<form class="form-horizontal" role="form">
	    <div class="form-group col-sm-6 col-md-6 col-xs-6">
	        <label for="bib-type" class="col-sm-2 col-md-2 col-xs-2 control-label">Type</label>
	        <div class="col-sm-4 col-md-4 col-xs-4">
				<select name="bib-type-select" id="bib-type" class="form-control" ng-options="option.name for option in bib.availableTypes track by option.id" ng-model="bib.selectedType" ng-change="resetTab()"></select>
	        </div>
	    </div>
	</form>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nopadding space-btw-nav-content">
			<ul class="nav nav-tabs">
			  <li role="presentation" ng-class="{'active': bib.selectedTab === 'required'}" ng-click="changeBibAddTab('required')"><a href="">Required</a></li>
			  <li role="presentation" ng-class="{'active': bib.selectedTab === 'optional'}" ng-click="changeBibAddTab('optional')"><a href="">Optional</a></li>
			  <li role="presentation" ng-class="{'active': bib.selectedTab === 'general'}" ng-click="changeBibAddTab('general')"><a href="">General</a></li>
			</ul>		
		</div>
	</div>

	<br>
	<form class="form-horizontal" role="form">
		<div ui-view="article" ng-if="bib.selectedType.name === 'Article'"></div>
		<div ui-view="inProceedings" ng-if="bib.selectedType.name ==='InProceedings'"></div>
		<div ui-view="inBook" ng-if="bib.selectedType.name === 'InBook'"></div>
		<div ui-view="inCollection" ng-if="bib.selectedType.name === 'InCollection'"></div>
		<div ui-view="proceedings" ng-if="bib.selectedType.name === 'Proceedings'"></div>
		<div class="form-group col-sm-12 col-md-12 col-lg-12 col-xs-12">
			<div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 col-xs-offset-1 col-xs-10">
				<button type="submit" class="btn btn-default" ng-click="save()">Save</button>
			</div>
		</div>
	</form>