<form class="form-horizontal" role="form">
	    <div class="form-group col-sm-6 col-md-6 col-xs-6">
	        <label for="bib-type" class="col-sm-2 col-md-2 col-xs-2 control-label">Type</label>
	        <div class="col-sm-4 col-md-4 col-xs-4">
				<select name="bib-type-select" id="bib-type" class="form-control" ng-options="option.name for option in bib.availableTypes track by option.id" ng-model="bib.selectedType" ng-change="resetTab()"></select>
	        </div>
	    </div>
	    <div class="form-group col-sm-12 col-md-12 col-xs-12 reset-margin-left">
        	<input file-input="files" type="file" id="upload-bib-file" class="inputfile inputfile-6" />
            <label for="upload-bib-file" ><strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 10" ><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/> </svg>Upload a paper (pdf) </strong><span>{{files[0].name}}</span> </label>
            <button type="button" type="file" ng-click="clearFields()" ng-model="files" class="btn btn-primary bring-btn-up">clear</button>
        </div>
	    
	</form>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nopadding space-btw-nav-content">
			<ul class="nav nav-tabs">
			  <li role="presentation" ng-class="{'active': bib.selectedTab === 'required'}" ng-click="changeBibAddTab('required')"><a href="">Required</a></li>
			  <li role="presentation" ng-class="{'active': bib.selectedTab === 'optional'}" ng-click="changeBibAddTab('optional')"><a href="">Optional</a></li>
			  <li role="presentation" ng-class="{'active': bib.selectedTab === 'general'}" ng-click="changeBibAddTab('general')"><a href="">General</a></li>
			</ul>		
		</div>
	</div>
	<br>
	<form class="form-horizontal" role="form">
		<div ui-view="article" ng-if="bib.selectedType.name ==='Article'"></div>
		<div ui-view="inProceedings" ng-if="bib.selectedType.name ==='InProceedings'"></div>
		<div ui-view="inBook" ng-if="bib.selectedType.name === 'InBook'"></div>
		<div ui-view="masterThesis" ng-if="bib.selectedType.name === 'MasterThesis'"></div>
		<div ui-view="unpublished" ng-if="bib.selectedType.name === 'Unpublished'"></div>
		<div ui-view="manual" ng-if="bib.selectedType.name === 'Manual'"></div>
		<div ui-view="book" ng-if="bib.selectedType.name === 'Book'"></div>
		<div ui-view="booklet" ng-if="bib.selectedType.name === 'Booklet'"></div>
		<div ui-view="conference" ng-if="bib.selectedType.name === 'Conference'"></div>
		<div ui-view="inCollection" ng-if="bib.selectedType.name === 'InCollection'"></div>
		<div ui-view="proceedings" ng-if="bib.selectedType.name === 'Proceedings'"></div>
		<div ui-view="phdThesis" ng-if="bib.selectedType.name === 'PhdThesis'"></div>
		<div ui-view="techReport" ng-if="bib.selectedType.name === 'TechReport'"></div>
		<div ui-view="misc" ng-if="bib.selectedType.name === 'Misc'"></div>


		<div class="form-group col-sm-12 col-md-12 col-lg-12 col-xs-12" ng-if="mode==='add'">
			<div class="col-sm-offset-1 col-sm-4 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4 col-xs-offset-1 col-xs-4">
				<button type="submit" class="btn btn-success" ng-click="save()">Save</button>

			</div>

	</form>