<section class="universal-content-padding">
	<h2>Change Password</h2>

	<div class="form-group" style="margin-top:60px">
	  <label class="col-md-4 control-label" for="new-pass">New password</label>
	  <div class="col-md-4">
	    <input id="new-pass" name="new-pass" type="password" placeholder="" class="form-control input-md" required="" ng-model="newPass">
	    
	  </div>
	</div>

	<div class="form-group">
	  <label class="col-md-4 control-label" for="change-pass"></label>
	  <div class="col-md-8" style="margin-top:60px">
	    <button id="change-pass" name="change-pass" class="btn btn-success" ng-click="changePass()">Change</button>
	  </div>
	</div>

</section>
