<div class="row">
    <div class="form-group col-sm-6 col-md-6 col-xs-6">
        <label for="bib-volume" class="col-sm-2 col-md-2 col-xs-2 control-label">Volume</label>
        <div class="col-sm-8 col-md-8 col-xs-8">
    		<input type="text" class="form-control" id="bib-volume" placeholder="Volume" ng-model="bib.bibFields.payload.volume">
        </div>
    </div>
    
    <div class="form-group col-sm-6 col-md-6 col-xs-6">
        <label for="bib-number" class="col-sm-2 col-md-2 col-xs-2 control-label">Number</label>
        <div class="col-sm-8 col-md-8 col-xs-8">
    		<input type="text" class="form-control" id="bib-number" placeholder="Number" ng-model="bib.bibFields.payload.number">
        </div>
    </div>
</div>



<div class="row">
    <div class="form-group col-sm-6 col-md-6 col-xs-6">
        <label for="bib-series" class="col-sm-2 col-md-2 col-xs-2 control-label">Series</label>
        <div class="col-sm-8 col-md-8 col-xs-8">
    		<input type="text" class="form-control" id="bib-series" placeholder="Series" ng-model="bib.bibFields.payload.series">
        </div>
    </div>
    
    <div class="form-group col-sm-6 col-md-6 col-xs-6">
        <label for="bib-month" class="col-sm-2 col-md-2 col-xs-2 control-label">Month</label>
        <div class="col-sm-8 col-md-8 col-xs-8">
    		<input type="text" class="form-control" id="bib-month" placeholder="Month" ng-model="bib.bibFields.payload.month">
        </div>
    </div>
</div>



<div class="row">
    <div class="form-group col-sm-6 col-md-6 col-xs-6">
        <label for="bib-address" class="col-sm-2 col-md-2 col-xs-2 control-label">Adress</label>
        <div class="col-sm-8 col-md-8 col-xs-8">
            <input type="text" class="form-control" id="bib-address" placeholder="Address" ng-model="bib.bibFields.payload.address">
        </div>
    </div>
    
    <div class="form-group col-sm-6 col-md-6 col-xs-6">
        <label for="bib-type" class="col-sm-2 col-md-2 col-xs-2 control-label">Type</label>
        <div class="col-sm-8 col-md-8 col-xs-8">
            <input type="text" class="form-control" id="bib-type" placeholder="type" ng-model="bib.bibFields.payload.type">
        </div>
    </div>
</div>



<div class="row">
    <div class="form-group col-sm-6 col-md-6 col-xs-6">
        <label for="bib-note" class="col-sm-2 col-md-2 col-xs-2 control-label">Note</label>
        <div class="col-sm-8 col-md-8 col-xs-8">
            <input type="text" class="form-control" id="bib-note" placeholder="Note" ng-model="bib.bibFields.payload.note">
        </div>
    </div>


    <div class="form-group col-sm-6 col-md-6 col-xs-6">
        <label for="bib-edition" class="col-sm-2 col-md-2 col-xs-2 control-label">Edition</label>
        <div class="col-sm-8 col-md-8 col-xs-8">
            <input type="text" class="form-control" id="bib-edition" placeholder="edition" ng-model="bib.bibFields.payload.edition">
        </div>
    </div>
</div>

